@include media-md {
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: left;
            padding-left: 4rem;

            &__item {
                display: inline;
                padding-right: 1.5rem;

            }

            &__link {
                font-size: 1.5rem;
            }
        }
    }

    .home__name {
        font-size: 4rem;
    }

    .about__bio {
        font-size: 1.5rem;
    }

    .projects {
        &__bio-image {
            height: 40vh;
        }

        &__items {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }

        .text-secondary {
            font-size: 3rem;
        }
    }

    .contact {
        padding-top: 30vh;

        &__list {
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            padding-left: 5rem;
        }

    }
}

@include media-lg {
    .contact__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include media-xl {
    .projects__bio-image {
        height: 50vh;
    }
}