@import './config';
@import './home';
@import './menu';
@import './about';
@import './projects';
@import './contact';
@import './responsive';


body {
    background-color: $primary-color;
    color: set-text-color($primary-color);
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
}

h1,
h2,
h3 {
    font-weight: 400;
    font-family: 'Merriweather', serif;
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

.text-secondary {
    color: $secondary-color;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}

main {
    height: 100vh;
    width: 100%;

    .social-icons {
        position: fixed;
        bottom: 1rem;
        left: 1rem;

        a {
            padding: 0.4rem;
            @include transition-ease;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}

footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: set-text-color($primary-color);
}


.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 2.2rem;
    z-index: 1;

    img {
        width: 50px;
        animation: bubble 7s linear infinite;
    }

    img:nth-child(1) {
        animation-delay: -2s;
    }

    img:nth-child(2) {
        animation-delay: -7s;
    }

    img:nth-child(3) {
        animation-delay: -3.5s;
    }

    img:nth-child(4) {
        animation-delay: -4.5s;
    }

    img:nth-child(5) {
        animation-delay: -6.5s;
    }

    img:nth-child(6) {
        animation-delay: -1s;
    }

    img:nth-child(7) {
        animation-delay: -0.5s;
    }
}